<script>
  var GLOBAL = {
      app_guid : '<%=app.guid %>'
  }
</script>
<div class="main" id="app-page">
    <div class="container clear-fix">
        <div class="container-header">
            <h2<% if app.detected_buildpack == "PHP" %>
               class="php"
               <% elsif app.detected_buildpack == "Python" %>
               class="python"
               <% elsif app.detected_buildpack == "JAVA WEB" %>
               class="java"
               <% end %>><%= app.name %></h2>
        </div>
        
        <div class="menu">
            <a class="tab menu-item control selected" data-tab="control" href="javascript:void(0);">Control</a>
            <a class="tab menu-item deploy" data-tab="deploy" href="javascript:void(0);">Deploy</a>
            <a class="tab menu-item settings" data-tab="settings" href="javascript:void(0);">
               Settings
            </a>
        </div>

        <div class="contents">
            <div class="tab-content active" id="control">
              <h3>App is <%=app.state %></h3>

              <% if app.state == "STARTED" %>
                  <form action="/app/<%=app.guid %>" method="post">
                    <input type="hidden" name="action" value="stop" />
                    <button class="big red ">Stop</button>
                  </form>
                  <form action="/app/<%=app.guid %>" method="post">
                    <input type="hidden" name="action" value="restart" />
                    <button class="big blue">Restart</button>
                  </form>
              <% else  app.state == "STOPED" %>
                  <form action="/app/<%=app.guid %>" method="post">
                    <button class="big green">Start</button>
                    <input type="hidden" name="action" value="start" />
                  </form>
              <% end %>

<!--
                <hr/>
              <h3>App Resources</h3>
-->

              <hr/>
              <h3>Instances</h3>

              <div id="instances-area">
                <img src="/image/loader.gif" /><span>querying</span>
              </div>
            </div>

            <div class="tab-content" id="deploy">
              <h3>代码库地址</h3>
              <a target="_blank" href="https://dev.corp.youdao.com/svn/outfox/incubator/yaeapps/<%= app.guid %>">
                https://dev.corp.youdao.com/svn/outfox/incubator/yaeapps/<%= app.guid %>
              </a>
              <hr/>
                <h3>Update the version</h3>
                <div class="update-version">
                    <form action="/app/<%= app.guid %>" method="post">
                    <input type="hidden" name="action"  value="update" />
                    <input type="text" placeholder="输入代码库的版本号"  name="revision" id="revision"   />

                        <ul class="tip" style="display: none;">
                          <li>123</li>
                          <li>123</li>
                          <li>123</li>
                        </ul>

                    <button type="submit" class="button green"
                       href="javascript:void(0);">deploy</button>
                    </form>
                </div>
              <hr/>
              <a class="button big green edit"
                 href="javascript:void(0);">Modify the code via web IDE</a>

            </div>
            
            <div class="tab-content" id="settings">
              <button class="big red" id="delete-app">Delete This App</button>
            </div>
        </div>
    </div>
</div>
