
<div class="main" id="app-page">
    <div class="container clear-fix">
        <div class="container-header">
            <h2><%= app.name %></h2>
        </div>
        
        <div class="menu">
            <a class="tab menu-item control selected" data-tab="control" href="javascript:void(0);">Control</a>
            <a class="tab menu-item deploy" data-tab="deploy" href="javascript:void(0);">Deploy</a>
            <a class="tab menu-item settings" data-tab="settings" href="javascript:void(0);">
               Settings
            </a>
        </div>

        <div class="contents">
            <div class="tab-content active" id="control">
              <h3>App is <%=app.state %></h3>
              <form action="/app/<%=app.guid %>" method="post">
                <button class="big green">Start</button>
                <input type="hidden" name="action" value="start" />
                </form>
              <form action="/app/<%=app.guid %>" method="post">
                <input type="hidden" name="action" value="stop" />
                <button class="big red disable">Stop</button>
              </form>

                <button class="big blue">Restart</button>
                <hr/>
              <h3>App Resources</h3>


              <hr/>
              <h3>Instances</h3>

             <%if app.running? %>
              <table>
                <thead>
                <tr>
                  <th>#</th>
                  <th class="right">Status</th>
                  <th class="right">CPU</th>
                  <th class="right">Memory</th>
                  <th class="right">Disk</th>
                </tr>
                </thead>
                <tbody>
                    <%for key,value in app.stats %>
                    <tr>
                      <td><%= key %></td>
                      <td class="right"><%= value[:state] %></td>
                      <td class="right"><%= value[:stats][:usage][:cpu] %></td>
                      <td class="right"><%= value[:stats][:usage][:mem]/(1024*1024) %> MB</td>
                      <td class="right"><%= value[:stats][:usage][:disk]/(1024*1024) %> MB</td>
                    </tr>
                    <% end %>
                </tbody>
              </table>
            <% else %>
              no running instances
            <% end %>
            </div>
            
            <div class="tab-content" id="deploy">
                <h3>Update the version</h3>
                <div class="update-version">
                    <input type="text" placeholder="输入代码库的版本号"  name="version"  />
                    <a class="button green"
                       href="javascript:void(0);">deploy</a>
                </div>
              <hr/>
              <a class="button big green edit"
                 href="javascript:void(0);">Modify the code via web IDE</a>

            </div>
            
            <div class="tab-content" id="settings">
              <button class="big red" id="delete-app">Delete This App</button>
            </div>
        </div>
    </div>
</div>
