<div class="main" id="index">
  <% for org in orgs %>
      <div class="container org-container" data-guid="<%= org.guid %>">
        <div class="container-header">
          <h2><%= org.name %><span><%= org.quota_definition.memory_limit %> MB</span></h2>
        </div>



              <table>
                <thead>
                <tr>
                  <th width="35%">Name</th>
                  <th width="15%" class="right">Mem</th>
                  <th width="10%" class="right">Status</th>
                  <th width="40%" class="right">Url</th>
                </tr>
                </thead>
                <tbody>
                <% for space in org.spaces %>
                    <% for app in space.apps %>
                        <tr id="<%= app.guid %>" class="app-row <%= app.detected_buildpack %>">
                          <td><a
                          <% if app.detected_buildpack == "PHP" %>
                                  class="php"
                          <% elsif app.detected_buildpack == "Python" %>
                                class="python"
                          <% elsif app.detected_buildpack == "Ant Java Web" %>
                                class="java"
                          <% else %>
                                class="unknown"
                          <% end %>
                          href="/app/<%= app.guid %>"><%= app.name %></a></td>
                          <td class="right">

                            <%= app.total_instances %> X <%= app.memory %> MB

                          </td>
                          <td class="center"><span class="status"></span></td>
                          <td class="right">
                            <% for route in app.routes %>
                                <span><a href="http://<%= route.name %>"><%= route.name %></a></span>
                            <% end %>
                          </td>

                        </tr>
                    <% end %>
                <% end %>
                </tbody>
              </table>

            <!--</div>-->

      </div>
  <% end %>
</div>